Description=Thingworx_Sampling

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/ptc/tsample/tsample -c /home/ptc/tsample/config.toml
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target