[Unit]
Description=Thingworx tsample Service
After=network.target
StartLimitIntervalSec=0

[Service]
Environment=TSAMPLE_LOG=info
ExecStart=/usr/sbin/tsample -c /etc/tsample/tsample.yaml
Restart=always
RestartSec=2
Type=simple

[Install]
WantedBy=multi-user.target
